<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <title>Post Edit</title>
  </head>
  <body>
    <form
      class="edit-form"
      method="POST"
      action="/edit/<%= post.id %>"
      enctype="application/x-www-form-urlencoded"
    >
      <input
        value="<%= post.postTitle %>"
        id="title"
        name="title"
        type="text"
        class="input"
      />
      <textarea class="input" name="content" id="content" cols="50" rows="15">
<%= post.postContent %></textarea
      >
      <input
        value="<%= post.postAuthor %>"
        id="author"
        name="author"
        type="text"
        class="input"
      />
      <button class="edit btn" type="submit">Edit</button>
    </form>
  </body>
</html>
